<% content_for(:title) { "AWS Prod Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="foreman" data-view="Simplemon" data-title="Foreman"></div>
    </li>
  </ul>
</div>
